<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type='text/javascript'>
        var myAppModule = angular.module('myApp', []);

        myAppModule.factory('customerFactory', function (){
            var customers = [];
            var factory = {};

            factory.addCustomer = function(info) {
                customers.push({
                    name: info.name,
                    created_at: Date.now()
                })
            }

            factory.getCustomers = function (callback){
                callback(customers);
            }

            factory.removeCustomer = function(customerName){
                for (var i = 0; i < customers.length; i++) {
                    if (customers[i].name == customerName) {
                        customers.splice(i, i+1);
                    }
                }
            }

            factory.checkCustomer = function(newCustomerName) {
                for (var i = 0; i < customers.length; i++) {
                    if (customers[i].name == newCustomerName) {
                        return true;
                    }
                }
                return false;
            }
            return factory
        });

        myAppModule.controller('customersController', function ($scope, customerFactory){
            $scope.customers = [];
            customerFactory.getCustomers(function (data){
                $scope.customers = data;
            })

            $scope.addCustomer = function() {
                if(!customerFactory.checkCustomer($scope.newCustomer.name)) {
                    $('.error').addClass('hide');
                    customerFactory.addCustomer($scope.newCustomer);
                } else if($scope.newCustomer.name == null) {
                    $('.blank').removeClass('hide');
                }
                else {
                    $('.error').removeClass('hide');
                }
            }

            $scope.removeCustomer = function(customerName) {
                customerFactory.removeCustomer(customerName);
            }
        })

    </script>

    <style>
        .hide {
            display: none;
        }
        .error {
            color: red;
        }
        .blank {
            color: red;
        }
    </style>
</head>
<body ng-app='myApp'>
    <div ng-controller='customersController' class='row'>
        <div class='col-lg-3'></div>
        <div class='col-lg-6'>
            <h2><u>Add a New Customer</u></h2>
                <form class='form'>
                    <label>Name:
                        <span class='error hide'>User already exist, please add a new name.</span>
                    </label>
                    <input type='text' class='form-control' ng-model='newCustomer.name' required /><br>
                    <input type='hidden' ng-model='created_at' value='' id='newCustomer.created_at' />
                    <button type='submit' class='btn btn-primary pull-right' ng-click='addCustomer()'>Add</button>
                </form>
                

            </br></br><b>Search customers:</b><input type="text" ng-model="filter_name" class="form-control"></br></br>
            <table class='table table-stripped' style='border:1px solid silver;'>
                <thead>
                    <tr>
                        <td><b>Name</b></td>
                        <td><b>Created Date</b></td>
                        <td><b>Action</b></td>
                    </tr>
                </thead>
                <tr ng-repeat="customer in customers | filter:filter_name | orderBy:'-created_at'">
                    <td>
                        <span ng-bind='customer.name'></span>
                    </td>
                    <td>
                        <span ng-bind="customer.created_at | date:'MMMM d yyyy h:mma'"></span>
                    </td>
                    <td>
                        <button ng-click='removeCustomer(customer.name)' class='btn btn-danger'>Remove</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class='col-lg-3'></div>
    </div>
</body>
</html>